
body {
    margin: 0;
    padding: 0;
    background: #f5f5f5;
    color: #333;
  }
  

  header {
    text-align: center;
    padding: 0%;
    margin-bottom: 5%;
  }

  .cover01
  {
    position: relative;
    width: 100%;  
    height: auto;     
    margin: auto auto;  
    z-index: -1;   
  }

  .socialMedia{
    width:150px;   
    height: auto;      
    margin: 0 auto;     
  }

  .arrange_left{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 10%; 
  }

  .detail{
    font-family: 'Playpen Sans',sans-serif;
    margin: 0;
    font-size: 15px;
    
  }
  
  
  section {
    padding: 50px;
    margin: 1% 20%;
    max-width: 100%;
    background: rgb(98, 171, 255);
    border-radius: 12px;
  }
  
  section h2 {
    font-family: 'Playpen Sans',sans-serif;
    font-size: 30px;
    margin-top: -2%;
    margin-bottom: 1%;
  }
  
  ul {
    list-style-type: square;
    padding-left: 20px;
  }
  
  li {
    margin: 0.5rem 0;
  }

  footer {
    background: #ffda08;
    font-family: 'Playpen Sans',sans-serif;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 1%;
    margin-top: 5%;
  }
  
